// component.scss

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1001;
  &.fixed {
    // Styles for a fixed header
  }
}

//main {
//  padding-top: 170px; // Your header height + some slack
//}
